{# 
Le extends permet de se baser sur une structure, des que vous utilisez un extends tout le reste de votre code devra être obligatoirement dans un / ou plusieurs block mais jamais à l'exterieur
#}
{% extends 'layout.twig' %}

{% block body %}
<form action="booking.php" method="POST" id="flight-search-form">
	
	<div id="search-all">

		<div id="departure-and-arrival">
		
			<ul>

				<li>
					<label for="departure-country-search">Pays de départ</label>
					<select name="departure-country-search" id="departure-country-search">
					{% 	for airport in airports %}
						<option value="{{ airport.country }}">{{ airport.country }}</option>
					{% endfor %}
					</select>
				</li>

				<li>
					<label for="departure-city-search">Ville de départ</label>
					<select name="departure-city-search" id="departure-city-search">
					{% 	for airport in airports %}
						<option value="{{ airport.city }}" data-departureCountry="{{airport.country}}">{{ airport.city }}</option>
					{% endfor %}
					</select>
				</li>

				<li>
					<label for="departure-airport-search">Aéroport de départ</label>
					<select name="departure-airport-search" id="departure-airport-search">
					{% 	for airport in airports %}
						<option value="{{ airport.id }}" data-departureCity="{{ airport.city }}">{{ airport.name }}</option>
					{% endfor %}
					</select>
				</li>

				<li>
					<label for="departure-date">Date de départ</label>
					<input type="date" name="departure-date" id="departure-date">
				</li>

			</ul>
			
				<!-- LES ARRIVEES -->

			<ul>

				<li>
					<label for="arrival-country-search">Pays d'arrivée</label>
					<select name="arrival-country-search" id="arrival-country-search">
					{% 	for airport in airports %}
						<option value="{{ airport.country }}">{{ airport.country }}</option>
					{% endfor %}
					</select>
				</li>

				<li>
					<label for="arrival-city-search">Ville d'arrivée'</label>
					<select name="arrival-city-search" id="arrival-city-search">
					{% 	for airport in airports %}
						<option value="{{ airport.city }}" data-arrivalCountry="{{airport.country}}">{{ airport.city }}</option>
					{% endfor %}
					</select>
				</li>

				<li>
					<label for="arrival-airport-search">Aéroport d'arrivée'</label>
					<select name="arrival-airport-search" id="arrival-airport-search">
					{% 	for airport in airports %}
						<option value="{{ airport.id }}" data-arrivalCity="{{ airport.city }}">{{ airport.name }}</option>
					{% endfor %}
					</select>
				</li>
				{#
				<li>
					<label for="arrival-date">Date d'arrivée</label>
					<input type="date" name="arrival-date" id="arrival-date">
				</li>
				#}

			</ul>

		</div>

		<ul>

			<li>
				<label for="numberOfSeats">Nombre de passagers</label>
				<input type="number" name="numberOfSeats" min="1" id="numberOfSeats">
			</li>

			<li>
				<button type="button" id="search">Rechercher</button>
			</li>

		</ul>

	</div>

</form>

<div id="show_flights"></div>


{# 
	Pour utiliser la methode url dans twig 
	il faut installer "symfony/twig-bridge" avec composer 
	les nom envoyé dans la methode url doivent être la valeur
	d'un bind de l'une de vos routes

#}
{% endblock %}